<div class="container">
  <h1>Haircut: </h1>

  <p>Time: <%= @booking.appointment.strftime("%d/%m/%Y %H:%M") %></p>
  <p>Rating: <%= @booking.rating || '-' %><p>
  <p>Price: <%= '%.2f' % @booking.price %><p>
  <p>Haircut Style: <%= @booking.haircut.style %><p>
  <p>Barbier: <%= @booking.haircut.user.full_name %><p>
  <p>Address: <%= @booking.haircut.user.address %><p>

  <%= link_to 'My haircuts', (@booking.haircut.user == current_user ? seller_path : buyer_path) %>

  <%= link_to 'Edit appointment', edit_booking_path(@booking) %>
</div>
