<p id="notice"><%= notice %></p>

<h1>Dashboard</h1>

<div>
  <h2>My Haircuts</h2>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @haircuts.each do |haircut| %>
        <tr>
          <td><%= haircut.style %></td>
          <td><%= haircut.category %></td>
          <td><%= haircut.price %></td>
          <td><%= link_to 'Show', haircut %></td>
          <%# <td><%= link_to 'Edit', edit_haircut_path(haircut) %></td>
          <%# <td><%= link_to 'Destroy', haircut, method: :delete, data: { confirm: 'Are you sure?' } </td> %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <h2>My bookings</h2>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.appointment %></td>
          <td><%= booking.rating %></td>
          <td><%= booking.price %></td>
          <td><%= link_to 'Show', booking %></td>
          <%# <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
          <%# <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } </td> %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%#= link_to 'New Haircut', new_haircut_path %>
