<h1>Dashboard vendedor</h1>
<br>
<div>
  <h2>My Haircuts</h2>
  <table class='table'>
    <thead>
      <tr>
        <th>Style</th>
        <th>Category</th>
        <th>Price</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @haircuts.each do |haircut| %>
        <tr>
          <td><%= haircut.style %></td>
          <td><%= haircut.category %></td>
          <td><%= haircut.price %></td>
          <td><%= link_to 'Show', haircut %></td>
          <td><%= link_to 'Edit', edit_haircut_path(haircut) %></td>
          <td><%= link_to 'Destroy', haircut, class:'text-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Add New Haircut', new_haircut_path, class:'btn btn-primary' %>
</div>
<br><br>
<div>
  <h2>My bookings</h2>
  <table class='table'>
    <thead>
      <tr>
        <th>Appointment</th>
        <th>Rating</th>
        <th>Price</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.appointment.strftime("%d/%m/%Y %H:%M") %></td>
          <td><%= booking.rating %></td>
          <td><%= booking.price %></td>
          <td><%= link_to 'Show', booking %></td>
          <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
          <td><%= link_to 'Destroy', booking, class:'text-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
